*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  font-family: 'LatoWeb';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

button,
input {
  margin: 0;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol,
li,
a {
  list-style: none;
}

a:visited {
  color: black;
}